* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  height: 56px;
}
header  img {
  width: 55px;
  vertical-align: middle;
}
header  h1{
  height: 56px;
  display: inline;
  vertical-align: middle;
}

main {
  background-color: gray;
  padding-top: 40px;
}
main section {
  background-color: white;
  margin: auto 150px;
  margin-top: 1px;
}

.est-top  {
  border-radius: 5px 5px 0px 0px; ;
}

.est-bottom {
  border-radius: 0px 0px 5px 5px; ;
}

.semi-bottoni{
  display: inline-block;
}
ul{
  list-style-type: none;
}

