* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: s;
}
header{
  margin: 12px;
  height: 56px;
}
header  img {
  width: 55px;
  vertical-align: middle;
}
header  h1{
  height: 56px;
  display: inline;
  vertical-align: middle;
}

main {
  background-color: #f6f8f9;
  padding-top: 40px;
  padding-bottom: 10px;
}
main section {
  background-color: white;
  margin: auto 150px;
  margin-top: 1px;
}

.est-top  {
  height: 55px;
  border-radius: 5px 5px 0px 0px; ;
  padding: 10px 45px;
}

.est-bottom {
  border-radius: 0px 0px 5px 5px; ;
  padding: 45px;
}

.semi-tasti{
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  float: left;
  display: block;
}

#bordi{
  border: 1px solid #d3d8dc;
  color: #d3d8dc;

}

#top-celeste{
  background-color: #47adf1;
  color: white;
}

ul{
  list-style-type: none;
}
li{
  margin: 10px 0px 30px 40px;;
}

.posizione-lista{
  padding-left: 40px;

}
.bottoni-lista{
  margin: 3px;
  padding: 5px;
  font-size: 0.6em;
  color: white;
  border-radius: 12px;
}

#bot-celeste {
background-color: #47adf1 ;
}

#bot-viola {
background-color: #9b71e4 ;
}

#bot-verde {
background-color: #64c0a9 ;
}

#bot-arancione {
background-color: #f29e33 ;
}

#bot-rosa {
background-color: #d863a1 ;
}

#bot-giallo {
background-color: #b0c926 ;
}

